coveralls>=2.0
flake8>=3.7.0,<3.8.0
flake8-coding
flake8-future-import<0.4.6
flake8-import-order<=1.18.1
pytest>=4.6,<4.7
pytest-vcr==1.0.2
sphinx
# further constrain autoprogram version because the new (in 2021) maintainer
# already demonstrated a willingness to make major changes in patch versions
sphinxcontrib-autoprogram<=0.1.7
vcrpy<5.0.0
build==0.3.1.post1
pipdeptree==2.0.0
